body{
  background-color: #fafafa;
  font-family: 'Inter',Arial, sans-serif;
}
.changelog-card{
  background: #fff;
  max-width: 550px;
  margin: 40px auto;
  padding: 36px 32px 28px 32px;
  border-radius: 16px;
  border: 2px solid #000000;
  box-shadow: 0 3px 16px rgba(0,0,0,0.06);
  position: relative;
}
.changelog-card h2{
  font-size: 2.2em;
  text-align: center;
  margin: 0 0 8px 0;
  letter-spacing: -1px;
  font-weight: 700;
}
.changelog-card p{
  color: #aaa;
  text-align: center;
  margin: 0 0 32px 0;
  font-size: 1.1em;
}
.timeline{
  margin: 0 0 28px 0;
  padding: 0;
  position: relative;
  list-style: none;
  min-height: 80px;
}
.timeline::before{
  content: '';
  position: absolute;
  left: 100px;
  top: 8px;
  bottom: 26px;
  width: 2px;
  background: #262626;
  z-index: 0;
}
.timeline-item{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 18px;
  min-height: 36px;
  z-index: 1;
}
.timeline-date{
  flex: 0 0 110px;
  text-align: right;
  font-size: 1.03em;
  color: #444;
  padding-right: 18px;
  user-select: none;
}
.timeline-dot{
  width: 12px;
  height: 12px;
  background: #222;
  border-radius: 50%;
  margin-right: 18px;
  border: 2.5px solid #fff;
  z-index: 1;
  box-shadow: 0 0 0 2px #222;

}
.timeline-content{
  font-size: 1.09em;
  color: #212121;
  line-height: 1.6;
}
.changelog-btn {
  display: block;
  margin: 24px auto 0 auto;
  padding: 12px 39px;
  font-size: 1.03rem;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: background 0.18s;
  text-align: center;
  text-decoration: none;
}
.changelog-btn:hover {
  background: #444;
}
